<div class="row">
	<div class="span3">
		<h4>Navigation Bar</h4>
	</div>

	<div class="span9">
		<div class="hero-unit">
			<h2>Welcome to The Collegiate Marketplace</h2>
			<p>
				You have found our homepage, congratulations.
			</p>
			<p>
				<%= link_to 'Sign Up Now', '#', class: "btn btn-large btn-primary" %> to start buying and selling!
			</p>
		</div>
	</div>
</div>