<div class="row">
	<div class="span3">
		<h4>Navigation Bar</h4>
	</div>
	<% if user_signed_in? %>
		<div class="span9">
			<div class="hero-unit">
				<h2>Welcome to The Collegiate Marketplace,</h2>
				<h2><%= current_user.name %></h2>
			</div>
		</div>
	<% else %>
		<div class="span9">
			<div class="hero-unit">
				<h2>Welcome to The Collegiate Marketplace</h2>
				<p>
					You have found our homepage, congratulations.
				</p>
				<p>
					<%= link_to 'Sign Up Now!', new_user_registration_path, class: "btn btn-large btn-primary" %>
				</p>
				<p>
					<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
				</p>
			</div>
		</div>
	<% end %>
</div>